<section id='name'><h1><%= @actor.name %></h1></section>
<section id='age'><p>Age: <%= @actor.age %></p></section>
<section id='movies'>
  <p></p>
  <h3><%= "Movies #{@actor.name} was in:" %></h3>
  <% @actor.movies.each do |movie| %>
    <p><%= movie.name %></p>
  <% end %>
</section>
<section id='worked_with'>
  <p><%= @actor.name %> has worked with
  <% @actor.worked_with.each do |name| %>
    <% if name != @actor.worked_with.last %>
      <%= "#{name}," %>
    <% else %>
      <%= "and #{name}" %>
    <% end %>
  <% end %>
  </p>
</section>
